:root {
    --font-primary: "Inter", sans-serif;
    --font-heading: "Outfit", sans-serif;
    --font-secondary: "Space Grotesk", sans-serif;
    --background: rgb(242, 250, 255);
    --white: rgb(250, 250, 250);
    --black: rgb(12, 12, 12);
    // Brand colors
    --primary: #4f46e5; // Soczysty indygo - budzi zaufanie, techniczny
    --primary-hover: #1f11bd;
    --accent: #10b981; // Szmaragdowa zieleń - sugeruje oszczędność pieniędzy i ekologię
    --text-muted: #64748b; // Do opisów i mniej ważnych tekstów
    /*
        --primary: #1e293b; // Ciemny granat wpadający w czerń - elegancja
        --primary-hover: #0f172a;
        --accent: #84cc16; // Elektryczna limonka - bardzo "eye-catching", rzuca się w oczy
        --text-muted: #94a3b8;
    */
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
    scrollbar-width: thin;
}

body {
    font-family: var(--font-primary);
    color: var(--black);
    background: var(--background);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-heading);
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: var(--black);
}